.custom-button {
    font-weight: bold;
    font-size: 12px;
    color:black;
    background-color:antiquewhite ;
    padding-left: 150px;
    border-radius: 20px;
}
.custom-button-cart {
    font-weight: bold;
    font-size: 10px;
    color:black;
    background-color:antiquewhite ;
    border-radius: 20px;
}


